# Preparing the dataset 'World Indicators' for analysis by inserting a new column to represent the continent of the countries.

In [145]:
import pandas as pd
import awoc
import copy

In [159]:
W_I = pd.read_csv('/Users/AlexRichard/Spyder/W_I.csv')

In [160]:
W_I_copy = copy.copy(W_I)

In [161]:
W_I_copy

,Country,Year,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country
0,Afghanistan,1960,NaN,NaN,NaN,NaN,5.377778e+08,0.170627,33.133,31.580,NaN,NaN,NaN,NaN,NaN,1
1,Afghanistan,1961,NaN,NaN,NaN,NaN,5.488889e+08,NaN,33.586,32.026,NaN,NaN,NaN,NaN,NaN,1
2,Afghanistan,1962,NaN,NaN,NaN,NaN,5.466667e+08,NaN,34.030,32.466,NaN,NaN,NaN,NaN,NaN,1
3,Afghanistan,1963,NaN,NaN,NaN,NaN,7.511112e+08,NaN,34.469,32.903,NaN,NaN,NaN,NaN,NaN,1
4,Afghanistan,1964,NaN,NaN,NaN,NaN,8.000000e+08,NaN,34.904,33.338,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787,Zimbabwe,2013,NaN,7.675996,68.784012,NaN,1.909102e+10,NaN,59.494,56.461,1.669140,1.257,NaN,NaN,NaN,1
11788,Zimbabwe,2014,80.0,8.886317,81.858892,NaN,1.949552e+10,NaN,60.911,57.657,1.786967,1.167,NaN,NaN,NaN,1
11789,Zimbabwe,2015,78.1,10.317198,94.290006,NaN,1.996312e+10,NaN,62.050,58.593,1.938964,NaN,19.9,21.6,3.7,1
11790,Zimbabwe,2016,NaN,NaN,NaN,NaN,2.054868e+10,NaN,62.898,59.274,NaN,NaN,NaN,NaN,NaN,1
11791,Zimbabwe,2017,NaN,NaN,NaN,NaN,2.204090e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

### Loading in the AWOC dataset to help classify countries.

In [162]:
my_world = awoc.AWOC()

In [163]:
my_world.get_countries_list()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos Islands',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of the Congo',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

### Checking to see if countries align in the two datasets

In [164]:
spelling_check_list = []

In [165]:
for country in W_I_copy['Country']:
    if country not in my_world.get_countries_list():
            spelling_check_list.append(country)

In [166]:
spelling_check_set = set(spelling_check_list)

In [167]:
spelling_check_set

{'Bahamas, The',
 'Brunei Darussalam',
 'Cabo Verde',
 'Channel Islands',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Egypt, Arab Rep.',
 'Eswatini',
 'Gambia, The',
 'Hong Kong SAR, China',
 'Iran, Islamic Rep.',
 'Korea, Dem. Peopleâ€™s Rep.',
 'Korea, Rep.',
 'Kyrgyz Republic',
 'Lao PDR',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Micronesia, Fed. Sts.',
 'Russian Federation',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'Timor-Leste',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.'}

### Correcting the country names to fit AWOC if possible.

In [168]:
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Yemen, Rep.', 'Yemen')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Bahamas, The', 'Bahamas')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Korea, Rep.', 'South Korea')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Korea, Dem. Peopleâ€™s Rep.', 'North Korea')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Micronesia, Fed. Sts.', 'Micronesia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('St. Kitts and Nevis', 'Saint Kitts and Nevis')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Venezuela, RB', 'Venezuela')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Timor-Leste', 'East Timor')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Iran, Islamic Rep.', 'Iran')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Kyrgyz Republic', 'Kyrgyzstan')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Syrian Arab Republic', 'Syria')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Egypt, Arab Rep.', 'Egypt')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Brunei Darussalam', 'Brunei')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Macedonia, FYR', 'Macedonia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Slovak Republic', 'Slovakia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('St. Vincent and the Grenadines', 'Saint Vincent and the Grenadines')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Eswatini', 'Swaziland')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Hong Kong SAR, China', 'Hong Kong')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Russian Federation', 'Russia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('St. Lucia', 'Saint Lucia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Cabo Verde', 'Cape Verde')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Congo, Dem. Rep.', 'Democratic Republic of the Congo')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Gambia, The', 'Gambia')
W_I_copy['Country'] = W_I_copy['Country'].str.replace("Cote d'Ivoire", 'Ivory Coast')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Lao PDR', 'Laos')
W_I_copy['Country'] = W_I_copy['Country'].str.replace('Congo, Rep.', 'Republic of the Congo')

### Creating a list to hold the continent for all known countries.

In [169]:
continent_list = []

In [170]:
for i in range(11792):
    if W_I_copy['Country'][i] in my_world.get_countries_list():
        continent = my_world.get_country_continent_name(W_I_copy['Country'][i])
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'Channel Islands':
        continent = 'Europe'
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'West Bank and Gaza':
        continent = 'Asia'
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'Virgin Islands (U.S.)':
        continent = 'North America'
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'St. Martin (French part)':
        continent = 'North America'
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'Sint Maarten (Dutch part)':
        continent = 'North America'
        continent_list.append(continent)
    elif W_I_copy['Country'][i] == 'Macao SAR, China':
        continent = 'Asia'
        continent_list.append(continent)

In [171]:
print(len(continent_list))

11792

### Adding the continent list to the dataset W_I_copy

In [173]:
W_I_copy['Continent'] = continent_list

In [174]:
W_I_copy

,Country,Year,Births attended by skilled health staff (% of total),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Female genital mutilation prevalence (%),GDP (current US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Nurses and midwives (per 1,000 people)",Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Women who were first married by age 15 (% of women ages 20-24),Fistula country,Continent
0,Afghanistan,1960,NaN,NaN,NaN,NaN,5.377778e+08,0.170627,33.133,31.580,NaN,NaN,NaN,NaN,NaN,1,Asia
1,Afghanistan,1961,NaN,NaN,NaN,NaN,5.488889e+08,NaN,33.586,32.026,NaN,NaN,NaN,NaN,NaN,1,Asia
2,Afghanistan,1962,NaN,NaN,NaN,NaN,5.466667e+08,NaN,34.030,32.466,NaN,NaN,NaN,NaN,NaN,1,Asia
3,Afghanistan,1963,NaN,NaN,NaN,NaN,7.511112e+08,NaN,34.469,32.903,NaN,NaN,NaN,NaN,NaN,1,Asia
4,Afghanistan,1964,NaN,NaN,NaN,NaN,8.000000e+08,NaN,34.904,33.338,NaN,NaN,NaN,NaN,NaN,1,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787,Zimbabwe,2013,NaN,7.675996,68.784012,NaN,1.909102e+10,NaN,59.494,56.461,1.669140,1.257,NaN,NaN,NaN,1,Africa
11788,Zimbabwe,2014,80.0,8.886317,81.858892,NaN,1.949552e+10,NaN,60.911,57.657,1.786967,1.167,NaN,NaN,NaN,1,Africa
11789,Zimbabwe,2015,78.1,10.317198,94.290006,NaN,1.996312e+10,NaN,62.050,58.593,1.938964,NaN,19.9,21.6,3.7,1,Africa
11790,Zimbabwe,2016,NaN,NaN,NaN,NaN,2.054868e+10,NaN,62.898,59.274,NaN,NaN,NaN,NaN,NaN,1,Africa
11791,Zimbabwe,2017,NaN,NaN,NaN,NaN,2.204090e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Africa

### Checking a few countries with the new column

In [182]:
for i in range(11792):
    if W_I_copy['Country'][i] == 'Macao SAR, China':
        print(W_I_copy['Continent'][i])

Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia
Asia

### Converting back to .csv

In [183]:
W_I_copy.to_csv('W_I_mod.csv')